.galeria {
  margin-top: 70px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, minmax(320px, 1fr)); /* Definimos 4 columnas */
    grid-auto-rows: minmax(320px, auto); /* Ajustamos las filas */
    grid-auto-flow: dense;
    gap: 10px;
}
.item {
  overflow: hidden;
}
.item img,
.item video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.item img:not(:hover),
.item video:not(:hover) {
  filter: grayscale(1);
}
.item img:hover {
  transform-origin: top;
  transform: scale(1.5);
}
.cuadrado {
  grid-column: auto / span 1;
  grid-row: auto / span 1;
}

.horizontal {
  grid-column: auto / span 2;
  grid-row: auto / span 1;
}

.vertical {
  grid-column: auto / span 1;
  grid-row: auto / span 2;
}
@media (max-width: 1280px) {
  .galeria {
      grid-template-columns: repeat(3, minmax(320px, 1fr)); /* 3 columnas en pantallas más pequeñas */
  }
}

@media (max-width: 960px) {
  .galeria {
      grid-template-columns: repeat(2, minmax(320px, 1fr)); /* 2 columnas en pantallas aún más pequeñas */
  }
}

@media (max-width: 640px) {
  .galeria {
      grid-template-columns: repeat(1, minmax(320px, 1fr)); /* 1 columna en pantallas móviles */
  }
  .cuadrado, .horizontal{
    grid-column: auto/span 1;
    grid-row: auto/span 1;
  }
}
@media (max-width: 540px) {
  .galeria {
      grid-template-columns: repeat(1, minmax(320px, 1fr));
  }
  .cuadrado, .horizontal{
    grid-column: auto/span 1;
    grid-row: auto/span 1;
  }
}


/***********************ESTILOS PARA EL BOTON**************/
.labelBoton{
  position: relative;
  visibility: visible;
  height: 70px;
  width: 25%;
}
#logoWebB3,#logoWebN3,#logoMovile{
  position: absolute;
  width: 100%;
  height: 100%;
  scale: 3;
}
#logoWebB3{
  display: block;
}
#logoWebN3{
  display: none;
}
#logoMovile{
  display: none;
}
#botonMenu{
  display: none;
}
/**********************MEDIA QUERYS************************/



/***********************HASTA 500PX***********************/
@media (max-width: 780px){
#logoYnav{
  justify-content: right;
  background-color: transparent;
  width: 100vw;
  height: 50vh;
}
.labelBoton{
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  left: 0;
}
#isologo{
  width: 100%;
  height: 100%;
}
#logoWebB3{
  display: none;
}
#logoMovile{
  display: block;
  scale: 1;
}
#menuNav{
  position: absolute;
  top: 0;
  right: -100%;
  flex-direction: column;
  width: 80%;
  height: 50vh;
  overflow: hidden;
  transition: right 1s ease-out;
}
#menuNav a {
  width: 100%;
  padding: 10px 0 0 10px;
}
#menuNav a li{
  padding: 10px;
}
.ul a:hover .navLi {
  transform: scale(1.1);
}
#botonMenu:checked+.labelBoton #logoMovile{
  animation: rotacion 1s ease-in-out;
}
@keyframes rotacion {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#botonMenu:checked+.labelBoton+#menuNav{
  right:0;
}
#botonMenu:not(:checked)+.labelBoton #logoMovile{
  animation: rotacionInversa 1s ease-in-out;
}
@keyframes rotacionInversa {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}



/***********************HASTA 420PX***********************/





@media (max-width: 420px){
  .sec>h2{
    position: sticky;
    font-size: 36px;
    width: 100%;
    top:  14px;
    margin: 8px 0;
    z-index: 4;
  }
  #logoYnav{
    justify-content: right;
    background-color: transparent;
    width: 100vw;
    height: 50vh;
  }
  .labelBoton{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
  }
  #isologo{
    width: 100%;
    height: 100%;
  }
  #logoWebB3{
    display: none;
  }
  #logoMovile{
    display: block;
    scale: 1;
  }
  #menuNav{
    position: absolute;
    top: 0;
    right: -100%;
    flex-direction: column;
    width: 80%;
    height: 50vh;
    overflow: hidden;
    transition: right 1s ease-out;
  }
  #menuNav a {
    width: 100%;
    padding: 10px 0 0 10px;
  }
  #menuNav a li{
    padding: 10px;
  }
  .ul a:hover .navLi {
    transform: scale(1.1);
  }
  #botonMenu:checked+.labelBoton #logoMovile{
    animation: rotacion 1s ease-in-out;
  }
  @keyframes rotacion {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  #botonMenu:checked+.labelBoton+#menuNav{
    right:0;
  }
  #botonMenu:not(:checked)+.labelBoton #logoMovile{
    animation: rotacionInversa 1s ease-in-out;
  }
  @keyframes rotacionInversa {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  }




/***********************HASTA 320PX***********************/



@media (max-width: 320px){
#logoYnav{
  justify-content: right;
  background-color: transparent;
  width: 100vw;
  height: 50vh;
}
.labelBoton{
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  left: 0;
}
#isologo{
  width: 100%;
  height: 100%;
}
#logoWebB3{
  display: none;
}
#logoMovile{
  display: block;
  scale: 1;
}
#menuNav{
  position: absolute;
  top: 0;
  right: -100%;
  flex-direction: column;
  width: 80%;
  height: 50vh;
  overflow: hidden;
  transition: right 1s ease-out;
}
#menuNav a {
  width: 100%;
  padding: 10px 0 0 10px;
}
#menuNav a li{
  padding: 10px;
}
.ul a:hover .navLi {
  transform: scale(1.1);
}
#botonMenu:checked+.labelBoton #logoMovile{
  animation: rotacion 1s ease-in-out;
}
@keyframes rotacion {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#botonMenu:checked+.labelBoton+#menuNav{
  right:0;
}
#botonMenu:not(:checked)+.labelBoton #logoMovile{
  animation: rotacionInversa 1s ease-in-out;
}
@keyframes rotacionInversa {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
}
}