*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
video::-webkit-media-controls{
    display: none;
}
video::-webkit-media-controls-start-playback-button{
    display: none;
}
video{
    pointer-events: none;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}